/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.theme_dark {
    --accent-color: #FF0070;
    --title-color: #DB00FF;
    --header-text-color: #000028;
    --text-background: #FF0070;
    --content-text-color: #F1B2CE;
    --hover-color: rgba(255, 0, 112, 0.40);
    --page-image: url(../images/cover-image-dark.png);
}

.page.theme_dark {
    /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
    background-image: var(--page-image);
}

.theme_dark .header__theme-menu-button_type_dark {
    border: 1px solid var(--accent-color);
}

.theme_dark .header__up-block-rec {
    display: block;
}

@media (prefers-color-scheme: dark) {
     :root {
        --accent-color: #FF0070;
        --title-color: #DB00FF;
        --text-color: #000028;
        --text-background: #FF0070;
        --content-text-color: #F1B2CE;
        --hover-color: rgba(255, 0, 112, 0.40);
        --page-image: url(../images/cover-image-dark.png);
    }
    .header__dot {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--accent-color);
        font-family: var(--main-font), monospace;
        font-size: var(--small-text);
        text-transform: uppercase;
        position: relative;
    }
    .header__dot::before {
        content: '';
        position: absolute;
        color: var(--accent-color);
        font-family: var(--main-font), monospace;
        font-size: var(--small-text);
        background-color: var(--accent-color);
        width: 9px;
        height: 9px;
        border-radius: 50%;
        text-align: center;
        left: 42px;
        filter: drop-shadow(0px 0px 4px 2px var(--accent-color));
    }
}