/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
    --accent-color: #FF0070;
    --main-font: IBM Plex Mono;
    --title-color: #DB00FF;
    --header-text-color: #000028;
    --content-text-color: #F1B2CE;
    --text-background: #FF0070;
    --hover-color: rgba(255, 0, 112, 0.40);
    --page-image: url(../images/cover-image-dark.png);
    --small-text: 18px;
    --haeder-title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --padding-header: 10px;
    --width-paragraph: 355px;
    --padding-concentrate: 40px 10px 20px;
    --padding-concentration: 20px 10px 20px;
    --padding-advice: 20px 10px 30px;
    --padding-gallery: 10px 10px 40px;
    --gallery-gap: 10px;
    --gallery-block-gap: 10px;
    --padding-footer: 10px;
}

@media ((min-width: 768px) and (max-width:1023.999px)) {
     :root {
        --width-paragraph: 364px;
        --padding-advice: 50px 20px 0px;
        --padding-concentration: 50px 20px 20px;
    }
}

@media (min-width: 1024px) {
     :root {
        --width-paragraph: 491px;
        --padding-advice: 25px 20px 20px;
        --padding-concentration: 50px 20px 45px;
    }
}

@media ((min-width: 768px) and (max-width:1023.999px)) or (min-width: 1024px) {
     :root {
        --padding-header: 20px 20px 20px 0;
        --haeder-title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
        --padding-concentrate: 60px 20px 20px;
        --padding-gallery: 0px 20px 57px;
        --gallery-gap: 20px;
        --gallery-block-gap: 20px;
        --padding-footer: 20px;
    }
}